
body {
    background-color: beige;
}

h1 {
    background-color: darkgoldenrod;
    text-align: center;
    color: white;
    
}

h2 {
    color: rgb(0, 60, 172);
}

p {
    background-color: darkgreen;
}
div {

    background-color: darkorange;
    align-items: center;
    
}

#nr1 {
    color: rgb(162, 0, 255);
}
#nr2 {
    color: turquoise;
}
#nr3 {
    color: springgreen;
}
#nr4 {
    color: rgb(255, 128, 0);
}
#nr5 {
    color: seagreen;
}